{% extends '../layout.html' %}

{% block content %}
<!-- <h1 style="margin-top: 130px;">Login</h1> -->

<div class="body_login" style="margin-top: 40px;">
    <div class="wrapper-login">
        <!-- <section class='common-form'> -->
            {% if form.errors %}
            <p class='error-msg' style="margin-top: 130px; text-align: center;">ユーザー名かパスワードが間違っています!</p>
            {% endif %}
        
            <!-- {% if next %}
            {% if user.is_authenticated %}
            <p class='error-msg'>ログインをするか会員登録をしてください</p>
            {% else %}
            <p class='error-msg'>ログインしてください</p>
            {% endif %}
            {% endif %} -->
        <!-- 
            <form action='{% url "login" %}' method='post'>
                {% csrf_token %}
                <input type='hidden' name='next' value='{{ next }}' />
                {{ form.as_p }}
                <button type='submit'>Login</button>
            </form> -->
        <!-- </section> -->
        <div class="container-login">
            <h1>Welcome</h1>

            <form class="form_login" action='{% url "login" %}' method="post">
                {% csrf_token %}
                <input type='hidden' name='next' value='{{ next }}' />
                <!-- {{ form.as_p }} -->
                <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username" class="login_input" placeholder="ユーザー名">
                <input type="password" name="password" autocomplete="current-password" required="" id="id_password" class="login_input" placeholder="パスワード">
                <!-- <input type="text" placeholder="ユーザー名" class="login_input">
                <input type="password" placeholder="パスワード" class="login_input"> -->
                <button type="submit" id="login-button" style="margin-bottom: 30px;">Login</button><br />
                <a href='{% url "accounts:signup" %}' style="color: white;">会員登録はこちらから！</a>
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<script>
    $("#login-button").click(function (event) {
        event.preventDefault();

        $('form_login').fadeOut(500);
        $('.wrapper-login').addClass('form-success');
    });
</script>
{% endblock %}