{% extends '../layout.html' %}

{% block content %}
<h1 style="margin-top: 130px;">Login</h1>
<section class='common-form'>
    {% if form.errors %}
        <p class='error-msg'>ユーザー名かパスワードが間違っています!</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class='error-msg'>ログインをするか会員登録をしてください</p>
        {% else %}
            <p class='error-msg'>ログインしてください</p>
        {% endif %}
    {% endif %}

    <form action='{% url "login" %}' method='post'>
        {% csrf_token %}
        <input type='hidden' name='next' value='{{ next }}'/>
        {{ form.as_p }}
        <button type='submit'>Login</button>
    </form>
</section>
{% endblock %}