{% extends 'layout.html' %}
{% load static %}
{% block content %}
<h1 style="margin: 130px;">{{content.name}}</h1>
<div class="flex">
    <div class="l-wrapper_01" style="margin-right:1%;">
        <article class="card_01">
            <div class="card__header_01">
                
                <figure class="card__thumbnail_01">
                    <!--<img src="/media/images/あすま.jpeg" alt="サムネイル" class="card__image_01">-->
                    <img src="/media/{{content.first.image}}" width="100%" height="100%" border="0" />
                </figure>
            </div>
            <div class="border-line"></div>
            <div class="card__body_01">
                <p class="card__title_01">{{content.first.name}}</p>
                <p class="card__text2_01">{{content.first.address}}</p>
                <p class="card__text2_01">{{content.first.comment}}</p>
            </div>
            <div class="card__footer_01">
                <form action="{% url 'like' content.first.id%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">like<i class="bi bi-heart"></i></button>
                </form>
            </div>
        </article>
    </div>
    <div class="l-wrapper_01" style="margin-right:1%;">
        <article class="card_01">
            <div class="card__header_01">
                
                <figure class="card__thumbnail_01">
                    <img src="/media/{{content.second.image}}" width="100%" height="100%" border="0" />
                </figure>
            </div>
            <div class="border-line"></div>
            <div class="card__body_01">
                <p class="card__title_01">{{content.second.name}}</p>
                <p class="card__text2_01">{{content.second.address}}</p>
                <p class="card__text2_01">{{content.second.comment}}</p>
            </div>
            <div class="card__footer_01">
                <form action="{% url 'like' content.second.id%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">like<i class="bi bi-heart"></i></button>
                </form>
            </div>
        </article>
    </div>
    <div class="l-wrapper_01" style="margin-right:1%;">
        <article class="card_01">
            <div class="card__header_01">
                
                <figure class="card__thumbnail_01">
                    <img src="/media/{{content.third.image}}" width="100%" height="100%" border="0" />
                </figure>
            </div>
            <div class="border-line"></div>
            <div class="card__body_01">
                <p class="card__title_01">{{content.third.name}}</p>
                <p class="card__text2_01">{{content.third.address}}</p>
                <p class="card__text2_01">{{content.third.comment}}</p>
            </div>
            <div class="card__footer_01">
                <form action="{% url 'like' content.third.id%}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">like<i class="bi bi-heart"></i></button>
                </form>
            </div>
        </article>
    </div>
</div>
<div id="map" style="margin-top: 100px;"></div>

<input type="hidden" id="ido1" name="chart_labels" value="{{ content.first.ido }}">
<input type="hidden" id="keido1" name="chart_labels" value="{{ content.first.keido }}">
<input type="hidden" id="ido2" name="chart_labels" value="{{ content.second.ido }}">
<input type="hidden" id="keido2" name="chart_labels" value="{{ content.second.keido }}">
<input type="hidden" id="ido3" name="chart_labels" value="{{ content.third.ido }}">
<input type="hidden" id="keido3" name="chart_labels" value="{{ content.third.keido }}">


<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBekiDl6GcMzjHOAp0Y4PPzTZM-iGP_LBA&libraries=places&callback=initMap"
    async defer></script>
<script src="{% static 'js/rootDisplay.js' %}"></script>
{% endblock %}