{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div id="searchArea">
    <form action="{% url 'test1' %}" method="post">
        {% csrf_token %}
        <!-- <select class="form-select" aria-label="Default select example" name="area">
            <option selected class="disable">エリアを選択</option>
            <option value="佐賀県">佐賀県</option>
            <option value="福岡県">福岡県</option>
        </select> -->
        <!-- <div class="checkArea">
            <fieldset class="row mb-3" style="margin-top: 10px;">
                <legend class="col-form-label col-sm-2 pt-0">エリア選択</legend>
                <div class="col-sm-10">
                    <div class="form-check form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="佐賀県" name="pref">
                        <label class="form-check-label" for="inlineCheckbox1">佐賀県</label>
                    </div>
                    <div class="form-check form-check">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="福岡県" name="pref">
                        <label class="form-check-label" for="inlineCheckbox2">福岡県</label>
                    </div>
                </div>
            </fieldset>
        </div> -->
        <div class="main-container-check">
            <h2>エリアを選択!</h2>
            <div class="check-buttons">
                <label class="custom-check">
                    <input type="checkbox" value="佐賀県" name="pref" checked/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>佐賀県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="福岡県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>福岡県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="長崎県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>長崎県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="大分県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>大分県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="熊本県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>熊本県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="鹿児島県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>鹿児島県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="宮崎県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>宮崎県</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-check">
                    <input type="checkbox" value="沖縄県" name="pref"/>
                    <span class="check-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon-check">
                            <h3>沖縄県</h3>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        <!-- <div class="checkArea">
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">雰囲気</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="atm" value="all" checked>
                        <label class="form-check-label">
                            どれでもOK!
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="atm" value="みんなでワイワイ">
                        <label class="form-check-label">
                            みんなでワイワイ
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="atm" value="落ち着いた">
                        <label class="form-check-label">
                            落ち着いた
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="atm" value="賑やか">
                        <label class="form-check-label">
                            賑やか
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="atm" value="一人で">
                        <label class="form-check-label">
                            一人で
                        </label>
                    </div>
                </div>
            </fieldset>
        </div> -->

        <div class="main-container" style="margin-top: 100px;">
            <h2>どういった雰囲気がいい?</h2>
            <div class="radio-buttons">
                <label class="custom-radio">
                    <input type="radio" name="atm" value="all" checked />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <!-- <i class="las la-biking"></i> -->
                            <i class="las la-circle"></i>
                            <h3>どれでもOK!</h3>
                        </div>
                    </span>
                </label>
                <!-- <label class="custom-radio">
                    <input type="radio" name="atm" value="みんなでワイワイ" />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <i class="las la-futbol"></i>
                            <h3>みんなでワイワイ</h3>
                        </div>
                    </span>
                </label> -->
                <label class="custom-radio">
                    <input type="radio" name="atm" value="落ち着いた" />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <!-- <i class="las la-table-tennis"></i> -->
                            <i class="las las-light la-mug-hot"></i>
                            <h3>落ち着いた</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-radio">
                    <input type="radio" name="atm" value="賑やか" />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <i class="las la-table-tennis"></i>
                            <h3>賑やか</h3>
                        </div>
                    </span>
                </label>
                <label class="custom-radio">
                    <input type="radio" name="atm" value="一人で" />
                    <span class="radio-btn"><i class="las la-check"></i>
                        <div class="hobbies-icon">
                            <i class="las la-biking"></i>
                            <h3>一人で</h3>
                        </div>
                    </span>
                </label>
            </div>
        </div>
        {% if user.is_authenticated %}
        <button type="submit" class="btn btn-outline-primary" id="searchButton">ルートを検索　<i
                class="bi bi-search"></i></button>
        {% endif %}
    </form>
</div>

<script src="{% static 'js/index.js' %}"></script>
{% endblock %}