{% extends 'testRoot/base.html' %}
{% load static %}

{% block content %}
<form class="form-horizontal" style="margin: 100px; margin-bottom: 30px;">
    <div class="form-group">
        <label for="where" class="col-xs-2 control-label"><i class="far fa-dot-circle"></i></label>
        <div class="col-xs-4">
            <input type="text" id="where" placeholder="どこ？" class="form-control">
        </div>
    </div>
</form>
<div style="margin: 20px auto; text-align: center;">
    <button class="btn btn-outline-primary" style="margin: 20px auto;" onclick="nameSearch()">探す</button>
</div>

<div id="searchMap"></div>

<p hidden><input type="text" id="lat" name="lat"><input type="text" id="lng" name="lng"></p>

<div class="container">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">投稿</button>
    </form>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBekiDl6GcMzjHOAp0Y4PPzTZM-iGP_LBA&libraries=places&callback=init"
    async defer></script>
<script src="{% static 'js/searchPosition.js' %}"></script>
{% endblock %}