{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div style="margin-top:10%;"></div>
<div class="flex">
{% for list in lists %}
<div class="l-wrapper_01" style="margin-right:1%;">
    <article class="card_01">
    <div class="card__header_01">
        <p class="card__title_01">{{list.name}}</p>
        <figure class="card__thumbnail_01">
        <img src="/media/{{ list.image }}" alt="サムネイル" class="card__image_01">
        </figure>
    </div>
    <div class="card__body_01">
        <p class="card__text2_01">{{list.address}}</p>
        <p class="card__text2_01">{{list.comment}}</p>
    </div>
    <div class="card__footer_01">
        <p class="card__text_01"><a href="#" class="button_01 -compact">お気に入り</a></p>
    </div>
    </article>
</div>
{% endfor %}
</div>
<div id="map" style="margin-top:1%;margin-left:2%; height:50%;width:50%;float:left;"></div>

<div class="container">
    <form action="{% url 'user' user.id%}" method="post" style="margin-top:10%;margin-left:10%;float:left;">
        {% csrf_token %}
        {{keepForm.as_p}}
        <button class="btn btn-outline-primary">ルートを保存</button>
    </form>
</div>

<input type="hidden" id="ido1" name="chart_labels" value="{{ ido1 }}">
<input type="hidden" id="keido1" name="chart_labels" value="{{ keido1 }}">
<input type="hidden" id="ido2" name="chart_labels" value="{{ ido2 }}">
<input type="hidden" id="keido2" name="chart_labels" value="{{ keido2 }}">
<input type="hidden" id="ido3" name="chart_labels" value="{{ ido3 }}">
<input type="hidden" id="keido3" name="chart_labels" value="{{ keido3 }}">
<input type="hidden" id="name1" name="chart_labels" value="{{ name1 }}">
<input type="hidden" id="address1" name="chart_labels" value="{{ address1 }}">
<input type="hidden" id="name2" name="chart_labels" value="{{ name2 }}">
<input type="hidden" id="address2" name="chart_labels" value="{{ address2 }}">
<input type="hidden" id="name3" name="chart_labels" value="{{ name3 }}">
<input type="hidden" id="address3" name="chart_labels" value="{{ address3 }}">
<input type="hidden" id="author" name="chart_labels" value="{{ user }}">

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBekiDl6GcMzjHOAp0Y4PPzTZM-iGP_LBA&libraries=places&callback=initMap"
    async defer></script>
<script src="{% static 'js/rootDisplay.js' %}"></script>
<script src="{% static 'js/saveRoot.js' %}"></script>
{% endblock %}