{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div style="margin-top: 130px; line-height: 50px;">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="where" class="col-xs-2 control-label"></label>
            <div class="col-xs-4">
                <input type="text" id="where" placeholder="どこ？" class="form-control">
            </div>
        </div>
    </form>
    <div style="text-align: center;">
        <button class="btn btn-outline-primary" onclick="nameSearch()">探す</button>
    </div>
</div>

<div id="searchMap"></div>

<p hidden><input type="text" id="lat" name="lat"><input type="text" id="lng" name="lng"></p>

<div class="container">
    <form method="post" class="post-form" style="text-align: center;" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" style="margin-bottom: 30px;">登録!</button>
    </form>
</div>

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBekiDl6GcMzjHOAp0Y4PPzTZM-iGP_LBA&libraries=places&callback=init"
    async defer></script>
<script src="{% static 'js/searchPosition.js' %}"></script>
{% endblock %}