{% extends 'layout.html' %}
{% load static %}
{% block content %}
{% for list in lists %}
<div class="container" style="background-color: #EEEEEE; margin-top: 130px;">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">{{list.name}}</h1>
            <hr />
            <p style="text-align: center; line-height: 20;">{{list.address}}</p>
        </div>
        <div class="col">
            <iframe
                src='https://www.google.com/maps/embed/v1/place?key=AIzaSyBekiDl6GcMzjHOAp0Y4PPzTZM-iGP_LBA&amp;q={{ list.address }}'
                width="100%" height="400" frameborder='0' style="text-align: center;">
            </iframe>
        </div>
    </div>
</div>
<hr />
{% endfor %}
<div id="map" style="margin-top: 200px;"></div>

<div class="container">
    <form action="{% url 'user' user.id%}" method="post">
        {% csrf_token %}
        {{keepForm.as_p}}
        <button class="btn btn-outline-primary">ルートを保存</button>
    </form>
</div>

<input type="hidden" id="ido1" name="chart_labels" value="{{ ido1 }}">
<input type="hidden" id="keido1" name="chart_labels" value="{{ keido1 }}">
<input type="hidden" id="ido2" name="chart_labels" value="{{ ido2 }}">
<input type="hidden" id="keido2" name="chart_labels" value="{{ keido2 }}">
<input type="hidden" id="ido3" name="chart_labels" value="{{ ido3 }}">
<input type="hidden" id="keido3" name="chart_labels" value="{{ keido3 }}">
<input type="hidden" id="name1" name="chart_labels" value="{{ name1 }}">
<input type="hidden" id="address1" name="chart_labels" value="{{ address1 }}">
<input type="hidden" id="name2" name="chart_labels" value="{{ name2 }}">
<input type="hidden" id="address2" name="chart_labels" value="{{ address2 }}">
<input type="hidden" id="name3" name="chart_labels" value="{{ name3 }}">
<input type="hidden" id="address3" name="chart_labels" value="{{ address3 }}">
<input type="hidden" id="author" name="chart_labels" value="{{ user }}">

<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBekiDl6GcMzjHOAp0Y4PPzTZM-iGP_LBA&libraries=places&callback=initMap"
    async defer></script>
<script src="{% static 'js/rootDisplay.js' %}"></script>
<script src="{% static 'js/saveRoot.js' %}"></script>
{% endblock %}