{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="mainn1">

    <p class="mainn">
        <span class="cls">あそびこんしぇるじゅ</span><br>遊びを無限大に
    </p>

    {% if user.is_authenticated %}
    <div class="button05">
        <a href="{% url 'index' %}">
            <p>今すぐ始める</p>
        </a>
    </div>
    {% else %}
    <div class="button05">
        <a href="{% url 'login' %}">
            <p>今すぐ始める</p>
        </a>
    </div>
    {% endif %}

</div>

<!-- <div class="container">
    <p class="topicone">自動でルートを検索</p>
    <p class="mozi">行きたい雰囲気、場所を設定。<br>自動でランダムにルートを検索してくれます。</p>
    <div class="one">
        <i class="fal fa-search"></i>
    </div>
</div>


<div class="container">
    <p class="topictwo">お気に入りを見つけよう</p>
    <p class="mozi">いいと思った場所にいいねが押せます。<br>あなたのオススメの場所を他の人にも紹介してあげてね。</p>
    <div class="two">
        <i class="fal fa-heart"></i>
    </div>
</div> -->
<!-- <div class="center_topPage">
    <div class="topic_topPage">
        <img src="image/虫眼鏡.png" width="100px">
        <h2 style="font-size: 32px;">自動でルートを検索</h2>
        <p>行きたい雰囲気、場所を設定してみよう<br>自動でランダムにルートを検索してくれます。</p>
    </div>
    <div class="topic_topPage">
        <img src="image/ハート.png" width="100px">
        <h2 style="font-size: 32px;">お気に入りを見つけよう</h2>
        <p>いいと思った場所にいいねを押してみよう<br>あなたのオススメの場所を他の人にも紹介してあげてね。</p>
    </div>
    <div class="topic_topPage">
        <img src="image/保存.png" width="100px">
        <h2 style="font-size: 32px;">好きなルートを保存</h2>
        <p>行ってみたい場所を保存してみよう<br>あとで保存したルートを見返すことができます。</p>
    </div>
</div> -->
<div class="container" style="color: #3c4c46; text-align: center; margin-top: 80px;">
    <h1>What You Can do</h1>
    <div class="row row-cols-auto" style="text-align: center;">
        <div class="col col_topPage">
            <img src="{% static 'image/search.png' %}" width="80px" class="margin_topPage">
            <h2 style="font-size: 32px;">1.自動でルートを検索</h2>
            <p class="margin_topPage">Search Where You Need To Go</p>
            <p class="margin_topPage">行きたい雰囲気、場所を設定してみよう<br>自動でランダムにルートを検索してくれます。</p>
        </div>
        <div class="col col_topPage">
            <img src="{% static 'image/heart.png' %}" width="80px" class="margin_topPage">
            <h2 style="font-size: 32px;">2.お気に入りを見つけよう</h2>
            <p class="margin_topPage">Find You Favorite Place</p>
            <p class="margin_topPage">いいと思った場所にいいねを押してみよう<br>あなたのオススメの場所を他の人にも紹介してあげてね。</p>
        </div>
        <div class="col col_topPage">
            <img src="{% static 'image/save.png' %}" width="80px" class="margin_topPage">
            <h2 style="font-size: 32px;">3.好きなルートを保存</h2>
            <p class="margin_topPage">Save The Root You Want To Go</p>
            <p class="margin_topPage">行ってみたい場所を保存してみよう<br>あとで保存したルートを見返すことができます。</p>
        </div>
    </div>
</div>

<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div>Copyright &copy; 刺身は粋 2022</div>
        </div>
    </div>
</footer>
{% endblock %}