<!DOCTYPE html>
<html lang="ja">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>寿司は粋</title>

    <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->

    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />

    <!-- <link href="css/styles.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="{% static 'css/topPage.css' %}">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'index' %}">YOUROOT</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'topPage' %}">YOUROOT</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'user' user.id%}" class="nav-link">{{user}}</a>
                    </li>
                    <li class="nav-item">
                        <div class="wrapper"><a href="{% url 'test2' %}" class="nav-link effect-box">おすすめ登録!</a></div>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "logout" %}' class="'logout nav-link">logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href='{% url "login" %}' class="login nav-link">login</a>
                    </li>
                    <li class="nav-item">
                        <a href='{% url "accounts:signup" %}' class='signup nav-link'> Sign up </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">
        <div class="container">
            <div class="masthead-subheading">遊びの幅を広げよう!</div>
            <div class="masthead-heading text-uppercase">FIND NEW PLACE</div>
            {% if user.is_authenticated %}
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'index' %}">Get Start!</a>
            {% else %}
            <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'login' %}">Get Start!</a>
            {% endif %}
        </div>
    </header>
    <!-- Services-->
    <div class="container page-section" style="color: #3c4c46; text-align: center;">
        <h1 style="margin-bottom: 50px;">What You Can Do</h1>
        <div class="row row-cols-auto" style="text-align: center;">
            <div class="col col_topPage" style="margin: 0 auto;">
                <img src="{% static 'image/search.png' %}" width="80px" class="margin_topPage">
                <h2 style="font-size: 32px;">1&nbsp;自動でルートを検索</h2>
                <p class="margin_topPage">Search Where You Need To Go</p>
                <p class="margin_topPage">行きたい雰囲気、場所を設定してみよう<br>自動でランダムにルートを検索してくれます。</p>
            </div>
            <div class="col col_topPage" style="margin: 0 auto;">
                <img src="{% static 'image/heart.png' %}" width="80px" class="margin_topPage">
                <h2 style="font-size: 32px;">2&nbsp;お気に入りを見つけよう</h2>
                <p class="margin_topPage">Find You Favorite Place</p>
                <p class="margin_topPage">いいと思った場所にいいねを押してみよう<br>あなたのオススメの場所を他の人にも紹介してあげてね。</p>
            </div>
            <div class="col col_topPage" style="margin: 0 auto;">
                <img src="{% static 'image/save.png' %}" width="80px" class="margin_topPage">
                <h2 style="font-size: 32px;">3&nbsp;好きなルートを保存</h2>
                <p class="margin_topPage">Save The Root You Want To Go</p>
                <p class="margin_topPage">行ってみたい場所を保存してみよう<br>あとで保存したルートを見返すことができます。</p>
            </div>
        </div>
    </div>

    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div>Copyright &copy; 刺身は粋 2022</div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>