{% extends 'layout.html' %}

{% block content %}

<div class="container" style="margin-top: 130px;">
    <h2 style="color: #3c4c46;">Your Root</h2>
    <table class="table table-striped table-hover" style="background-color: #e3f3e5;">
        <tr>
            <th style="color: #3c4c46;">追加日</th>
            <th style="color: #3c4c46;">名前</th>
        </tr>
        {% for list in root %}
        <tr>
            <td>{{list.created_at}}</td>
            <td>
                <div class="wrapper"><a href="{% url 'detail' list.pk%}" class="effect-box">{{list.name}}</a></div>
            </td>
        </tr>
        {% endfor %}
    </table>
    <ul class="pagination">
        {% if root.has_previous %}
        <li class="page-item"><div class="wrapper"><a class="page-link effect-box pagination" href="?rootPage={{root.previous_page_number}}&page={{place.number}}">Previous</a></div></li>
        {% else %}
        <li class="page-item disable"><div class="wrapper"><a class="page-link effect-box pagination" href="?rootPage=1&page={{place.number}}">Previous</a></div></li>
        {% endif %}

        {% for i in rangeee %}
        <li class="page-item"><div class="wrapper"><a class="page-link effect-box pagination" href="?rootPage={{forloop.counter}}&page={{place.number}}">{{forloop.counter}}</a></div></li>
        {% endfor %}

        {% if root.has_next %}
        <li class="page-item"><div class="wrapper"><a class="page-link effect-box pagination" href="?rootPage={{root.next_page_number }}&page={{place.number}}">Next</a></div></li>
        {% else %}
        <li class="page-item disable"><div class="wrapper"><a class="page-link disable effect-box pagination" href="?rootPage={{root.paginator.num_pages}}&page={{place.number}}">Next</a></div></li>
        {% endif %}
    </ul>
    
    

    <h2 style="color: #3c4c46;">Your Place</h2>
    <table class="table table-striped table-hover" style="color: #3c4c46; background-color: #e3f3e5;">
        <tr>
            <th style="color: #3c4c46;">追加日</th>
            <th style="color: #3c4c46;">名前</th>
            <th style="color: #3c4c46;">いいね</th>
        </tr>
        {% for list in place %}
        <tr>
            <td style="color: #3c4c46;">
                <p>{{list.created_at}}</p>
            </td>
            <td style="color: #3c4c46;">
                <p>{{list.name}}</p>
            </td>
            <td style="color: #3c4c46;">
                <p>{{list.good}}</p>
            </td>
        </tr>
        {% endfor %}
    </table>
    <!-- {% if place.has_previous %}
    <a href="?page=1">&laquo; First</a>
    <a href="?page={{place.previous_page_number}}">Previous</a>


    {% endif %}

    Page{{place.number}} of {{place.paginator.num_pages}}
    {% if place.has_next %}
    <a href="?page={{place.next_page_number }}">next</a>
    <a href="?page={{place.paginator.num_pages}}">last&raquo;</a>
    {% endif %} -->
    <ul class="pagination">
        {% if place.has_previous %}
        <li class="page-item"><div class="wrapper"><a class="page-link effect-box pagination" href="?page={{place.previous_page_number}}&rootPage={{root.number}}">Previous</a></div></li>
        {% else %}
        <li class="page-item disable"><div class="wrapper"><a class="page-link effect-box pagination" href="?page=1&rootPage={{root.number}}">Previous</a></div></li>
        {% endif %}

        {% for i in rangee %}
        <li class="page-item"><div class="wrapper"><a class="page-link effect-box pagination" href="?page={{forloop.counter}}&rootPage={{root.number}}">{{forloop.counter}}</a></div></li>
        {% endfor %}

        {% if place.has_next %}
        <li class="page-item"><div class="wrapper"><a class="page-link effect-box pagination" href="?page={{place.next_page_number }}&rootPage={{root.number}}">Next</a></div></li>
        {% else %}
        <li class="page-item disable"><div class="wrapper"><a class="page-link disable effect-box pagination" href="?page={{place.paginator.num_pages}}&rootPage={{root.number}}">Next</a></div></li>
        {% endif %}
    </ul>
</div>
<!-- {{place}}<br />
Has Previous: {{place.has_previous}}<br />
Has Next: {{place.has_next}}<br />
Has Current: {{place.number}}<br />
Number of Pages: {{place.paginator.num_pages}}
<hr><br /><br /> -->
{% endblock %}