/*--------------------------------------
  カード型_01
--------------------------------------*/
.flexbox{
    display: flex;
    margin-left:2%;
  }

@media screen and (max-width:960px) {
  .flexbox{
    display: block!important;
  }
}
@media screen and (max-width:480px) {
  .flexbox{
    display:block!important;
  }
}

  .abc{
    margin-top:2%;
    height:20px;
    width:20px;
    border-radius:50%;
    text-align:center;
    background:orangered;
    color:#fff;
    margin-left:0;
  }

  .l-wrapper_01 {
      margin: 1rem auto;
      width: 95%;
      display:flex;
      
    }
    
    .l-wrapper_01:hover {
      transform: translateY(-3px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      transition: all .5s;
    }
    
    .card_01 {
      width:100%;
      background-color: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, .16);
      color: #212121;
      text-decoration: none;
      display:flex;
      flex-direction: column;
    }
    
    .card__header_01 {
      display: flex;
      flex-wrap: wrap;
      margin-top:auto;
    }
    
    .card__title_01 {
      font-size: 1.6rem;
      order: 1;
      margin-bottom: 0.6rem;
      font-weight: bold;
      text-decoration: none;
    }
    
    .card__thumbnail_01 {
      margin: 0;
      order: 0;
    }
  
    .card__image_01 {
      width: 100%;
    }

    .border-line{
      margin-top:1%;
      border-top: 1px solid #ddd;
    }
    
    .card__body_01 {
      padding: 0 1.5rem;
      margin-top: auto;
    }
    
    .card__text_01 {
      font-size: .8rem;
      text-align:center;
      text-decoration: none;
        padding-bottom: 0;
    }
    
    .labels{
      font-size:0.8rem;
      margin-bottom:0;
    }
    .card__text2_01 {
      font-size: 1.05rem;
      margin-bottom: 1rem;
      margin-left:2%;
    }
    
    .card__text_01 + .card__text_01 {
      margin-top: .5rem;
    }
    
    .card__footer_01 {
      padding: 1rem;
      border-top: 1px solid #ddd;
      /*margin-top: auto;*/
    }
    
    .button_01 {
      display: inline-block;
      text-decoration: none;
      transition: background-color .3s ease-in-out;
      text-align: center;
    }
    
    .button_01 a {
      text-decoration: none;
    }
    
    .button_01.-compact {
      padding: .5rem 1rem;
      border-radius: .25rem;
      background-color: #4f96f6;
      color: #fff;
      font-weight: bold;
        text-decoration: none;
    }
    
    .button_01.-compact:hover,
    .button_01.-compact:focus {
      background-color: #6bb6ff;
    }