/*styling.css*/
/*add font family, background image*/

html,
body {
  width: 100%;
  height: 100%;
  /* background-image: url('/static/image/topPage2.jpg'); */
}

#test {
    color: #5bc0de;
    font-family: "Poppins", sans-serif;
}
  
.fa-map-marker-alt,
.fa-dot-circle {
  color: #5bc0de;
}
  
/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}
  
.jumbotron h1 {
  letter-spacing: 2.5px;
  font-size: 3.5em;
}
  
.jumbotron h1,
.jumbotron p {
  text-align: center;
}
  
/*map*/
#googleMap {
  width: 80%;
  height: 400px;
  margin: 10px auto;
}
  
/*output box*/
#output {
  text-align: center;
  font-size: 2em;
  margin: 20px auto;
}
  
#mode {
  color: black;
}
 
#nabar {
  height: 100px;
}

#searchMap {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 90%;
  height: 90%;
}

#map {
  width: 90%;
  height: 90%;
  margin: 100px auto;
}