.test1_form{
    width:94%;
    margin-left:3%;
    background-color:#f5f5f5;
    border:1px solid;
    border-color:#dcdcdc;
}
@media screen and (min-width:960px) {
    .test1_form{
        margin-top:2%;
        width:42%;
        height:20%;
    }
}