* {
    box-sizing: border-box;
 }
 
 body {
    margin: 0;
    padding-top: 0px;
    font-family: "メイリオ","Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
 }
   

 header {
    width: 100%;
    height: 90px;
    padding: 30px 4% 10px;
    background-color: #3c4c46;
    position: fixed;
    top: 0;
   display: flex;
   align-items: center;
}

.daimei{
   margin: 0; padding: 0;
   font-size: 25px;
   color: #fff;
}

.mainn{
   text-align: center;
   padding-top: 150px;
   font-size: 300%;
   color: #3c4c46;
   font-weight:bold;
}

.cls{
   color: #3c4c46;
   /* font-size: 70px; */
   font-size: 3.5rem;
}

.cls2 {
   color: #3c4c46;
   font-size: 3rem;
   margin-top: 100px;
}

.button05 a {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 70px;
  width: 300px;
  color: #3c4c46;
  font-size: 20px;
  font-weight: 700;
  background-color: #b8cccb;
  box-shadow: 0 5px 0 #aebcb6;
  transition: 0.3s;
}

.button05 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button05 a:hover {
  transform: translateY(3px);
  text-decoration: none;
  box-shadow: 0 2px 0 #aaaaaa;
}



.topicone{
   color: #3c4c46;
   font-weight:bold;
   padding-top: 150px;
   font-size: 300%;
   text-align: center;
}
.mozi{
   color: #3c4c46;
   text-align: center;
}

.one{
  text-align: center;
}


.topictwo{
   color: #3c4c46;
   font-weight:bold;
   padding-top: 150px;
   font-size: 270%;
   text-align: center;
}

.two{
   color: #3c4c46;
  text-align: center;
}

.mainn1{
   background-image: url('/static/image/car1.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-position: center center;
   padding-bottom: 500px;
   /* height: 100%; */
   /* width: 100%; */
}

.center_topPage{
   text-align: center;
   padding-top: 100px;
}

.topic_topPage{
   display: inline-block;
   margin-left: 70px;
   margin-right: 70px;
}

.col_topPage {
   margin: 0 auto;
   margin-top: 30px;
   padding: 30px;
   padding-bottom: 60px
}

.margin_topPage {
   margin-bottom: 50px;
}
