{% extends 'layout.html' %}

{% block content %}
<!-- <h1 style="margin-top: 130px;">会員登録</h1>
<section class='common-form'>
    <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Sign up</button>
    </form>
</section> -->

<div class="body_login" style="margin-top: 40px;">
    <div class="wrapper-login">
        <div class="container-login">
            <h1>Sign Up!</h1>

            <form class="form_login" method="post">
                {% csrf_token %}
                <!-- <input type="hidden" name="csrfmiddlewaretoken" value="7MMnldTsoQvTr7et0qeMuAV60UvnpRpkxSua78Y5vOPPTnpyLMyJOgEEVPcArIBF">
                <input type="text" name="username" value="fasdfa" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" placeholder="ユーザー名" class="login_input">
                <p>この項目は必須です。半角アルファベット、半角数字、@/./+/-/_ で150文字以下にしてください。</p>
                <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" placeholder="パスワード" class="login_input">
                <span class="helptext"></span>
                <ul>
                    <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
                    <li>パスワードは最低 8 文字以上必要です。</li>
                    <li>よく使われるパスワードにはできません。</li>
                    <li>数字だけのパスワードにはできません。</li>
                </ul>
                <ul class="errorlist">
                    <li>確認用パスワードが一致しません。</li>
                </ul>
                <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" placeholder="パスワード確認" class="login_input">
                <p>確認のため、再度パスワードを入力してください。</p>
                <div class="wrapper"><a href='{% url "login" %}' style="color: white;"
                    class="effect-box">会員の方はこちらから！</a></div> -->
                    <!-- {{form.as_p}} -->
                    {% if form.errors %}
                    {% for error in form.errors.values %}
                    <p class="error_signup">{{error}}</p>
                    {% endfor %}
                    {% endif %}
                    <input type="text" name="username" value="ds" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="login_input" placeholder="User Name">
                    <p style="opacity: 0.7; font-size: 12px;">半角アルファベット、半角数字、@/./+/-/_ で150文字以下にしてください。</p>
                    <input type="password" name="password1" autocomplete="new-password" required="" id="id_password1" class="login_input" placeholder="Password">
                    <ul style="font-size: 12px;">
                        <li>あなたの他の個人情報と似ているパスワードにはできません。</li>
                        <li>パスワードは最低 8 文字以上必要です。</li>
                        <li>よく使われるパスワードにはできません。</li>
                        <li>数字だけのパスワードにはできません。</li>
                    </ul>
                    <input type="password" name="password2" autocomplete="new-password" required="" id="id_password2" class="login_input" placeholder="Confirm Password">
                    <button type="submit" id="login-button" style="margin-bottom: 30px;">Sign up</button><br />
            </form>
        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<script>
    $("#login-button").click(function (event) {
        event.preventDefault();

        $('form_login').fadeOut(500);
        $('.wrapper-login').addClass('form-success');
    });
</script>

{% endblock %}